

.container{
 

    .contentIconWhatsApp{
        display: flex;
        width: 5rem;
        height: 5rem;
        border: 3px solid var(--blue-jewel);
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 0;
        margin-right: 4rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            box-shadow: 0 0 30px 4px var(--blue-jewel);
            border-radius: 50%;
        }  
    }
}

