.linkGitHub{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    

    button{
        display: flex;
        margin-left: 2rem;
        align-items: center;
        padding: 1rem 2rem;
        border-radius: 0.7rem;
        border: 3px solid transparent;
        font-size: 1rem;
        font-weight: bold;

        transition: all 0.2s;
        
        &:hover{
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.1), 0 0 29px var(--blue-jewel);
            box-shadow: inset 0 0 39px var(--blue-jewel);
            position: relative;
            border: 3px solid var(--blue-jewel);

            &::before{
                pointer-events: none;
                content: '';
                position: absolute;
                width: 100%;
                height: 2rem;
                top: 100%;
                background-color: var(--blue-jewel);
                left: 0;

                transform: perspective(64px) rotateX(40deg) scale(1, 0.35);

                filter: blur(20px);
                opacity: 0.9;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom:0;
                background-color: var(--blue-jewel);
                box-shadow: 0 0 128px 5px var(--blue-jewel);
                z-index: -1;
                opacity: 1;
            }
        
        }

        &.active{
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px var(--blue-jewel);
            box-shadow: inset 0 0 32px var(--blue-jewel);
            position: relative;
            border: 3px solid var(--blue-jewel);
        }
    }
}
.divisoria{
    max-width: 1120px;
    margin: auto;
    height: 0.3px;
    background-color: var(--blue-jewel);
    margin-top: 5rem;
    box-shadow: 0 0 30px 4px var(--blue-jewel);
}