@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loading {
    from {
        width:0;
    }
    to{
        width:60%;
    }
}

.container{
    width: 100%;
    margin-top: 1rem;
    padding: 0 1rem;

    .diferencias{
        width: 30rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 6rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100px;
            background: linear-gradient(var(--blue-jewel),var(--white-50));
            animation: rotate 7s linear infinite;
            border-radius: 10px;
            
        }
        &::after{
            content: '';
            position: absolute;
            background: var(--black-void);
            inset: 2px;
            border-radius: 6px;
        }
        h1{
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 10px var(--blue-jewel);
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            margin:  auto;
            z-index: 1;
        }
    }

    .ContainerBarra{
       width: 600px;
       height: 40px;
       border: 2px solid var(--white-50); 
       border-radius: 10px;
       margin: auto;
       margin-top: 5rem;


       .barra{
           height:100%;
           background-color: var(--blue-jewel);
           border-radius: 10px;
           animation: loading 4s infinite;
           transition: all 3s;

           &::before{
               content: 'Desenvolvendo...';
               font-size: 20px;
               display: block;
               align-items: center;
               text-align: center;
               padding-left:  270px; 
               padding-top: 4px;
           }
       }
    }
    
    .content{
        max-width: 1120px;
        height: 20rem;
        margin:  auto;
        display: flex;
        flex-direction: center;
        margin-top: 5rem;
 
        

        align-items: center;

        .contentItem{
            max-width: 330px;
            width: 100%;
            height: 350px;
            box-shadow: 
                inset 5px 5px 5px rgb(0 0 0 / 50%), 
                inset -5px -5px 5px rgb(27 27 27 / 50%), 
                5px 5px 5px rgb(0 0 0 / 5%), 
                -5px -5px 5px rgb(27 27 27 / 50%);
            
            
            border-radius: 15px;
            padding: 1rem 15px;
            margin: auto;
            

            .item{
                width: 100%;
                height: 100%;
                padding: 1rem;
                border-radius: 15px;
                
                box-shadow: 
                    inset 5px 5px 5px rgb(0 0 0 / 50%), 
                    inset -5px -5px 5px rgb(27 27 27 / 50%),  
                    5px 5px 5px rgb(0 0 0 / 5%), 
                    -5px -5px 5px rgb(27 27 27 / 50%);
                box-shadow: inset 0 0 32px var(--blue-jewel);
                

                img{
                    background-image: cover;
                    width: 100%;
                    height: auto;
                    
                }
            }

            
        }
    }
}
@media(max-width: 1085px){
    .container .content .contentItem{
        max-width: 280px;
        height: 350px;
    }
}
@media (max-width: 940px){
    .container .content {
        flex-direction: column;

        .contentItem{
            max-width: 28rem;
            height: 30rem;
            margin-bottom: 3rem;
        }
    }
}

@media (max-width: 840px) {
    .container .content{
        flex-wrap: wrap;
        margin: auto;
    }
}

@media (max-width: 641px){
    .container .ContainerBarra{
        width: 500px;

        .barra{
            &::before{
                padding-left: 150px; 
            }
        }
       
    }
}
@media (max-width: 535px){
    .container .ContainerBarra{
        width: 400px;

        .barra{
            &::before{
                padding-left: 150px; 
            }
        }
       
    }
}
@media (max-width: 445px){
    .container .diferencias{
        width: 25rem;
    }
}
@media (max-width: 445px){
    .container .ContainerBarra{
        width: 380px;
    }
}
