@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.container {
    width: 100%;
    margin-top: 5rem;

    .about{
        font-family: 'Ubuntu', sans-serif;
        width: 30rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        margin:  auto;
        margin-top: 6rem;
        margin-bottom: 6rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        
        
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100px;
            background: linear-gradient(var(--blue-jewel),var(--white-50));
            animation: rotate 7s linear infinite; 
        }

        &::after{
            content: '';
            position: absolute;
            background: var(--black-void);
            inset: 2px;
            border-radius: 6px;
        }
        

        h1{
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 10px var(--blue-jewel);
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            margin:  auto;
            z-index: 1;
        }

        
        
    }

    .content{
        max-width: 1120px;
        height: 12rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--blue-jewel);
        border-radius: 10px;
        margin-top: 1rem;
        padding: 0 1rem;

        background-color: var(--black-void);

        box-shadow: 
            inset 5px 5px 5px rgb(0 0 0 / 50%), 
            inset -5px -5px 5px rgb(27 27 27 / 50%), 
            5px 5px 5px rgb(0 0 0 / 5%), 
            -5px -5px 5px rgb(27 27 27 / 50%);
        border-radius: 15px;
        box-shadow: inset 0 0 32px var(--blue-jewel);
        border: 3px solid var(--blue-jewel);

        &:hover{
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 10px var(--blue-jewel);
        }
        
        p{
            padding: 0 1rem;
            text-align: center;
            font-size: 0.9rem;
            font-weight: bold;
            line-height: 2rem;
            margin-top: 2rem;
        }
    }
}
@media(max-width: 1030px){
    .container{
        .content{
            max-width: 1024px;
        }
    }
}
@media(max-width: 799px){
    .container{
        .content{
            height: 13rem; 
        }
    }
}
@media (max-width: 622px){
    .container .content {
        height: 18rem;
    }
}
@media (max-width: 474px){
    .container .content {
        height: 18rem;
    }
}
@media (max-width: 438px){
    .container .content {
        height: 19rem;
    }
}
@media (max-width: 445px){
    .container .about {
        width: 25rem;
    }
}
