@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.container{
    width: 100%;
    height:20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32rem;

    .content{
        max-width: 1120px;
        height:20rem;

        .contato{
            font-family: 'Ubuntu', sans-serif;
            width: 30rem;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 6rem;
            text-align: center;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100px;
                background: linear-gradient(var(--blue-jewel),var(--white-50));
                animation: rotate 7s linear infinite;
                border-radius: 10px;
                
            }
            &::after{
                content: '';
                position: absolute;
                background: var(--black-void);
                inset: 2px;
                border-radius: 6px;
            }
            h1{
                text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 10px var(--blue-jewel);
                font-size: 2.5rem;
                font-weight: bold;
                text-align: center;
                margin:  auto;
                z-index: 1;
            }
        }
        .form{
            margin-top: 6rem;

            .label{
                font-size: 1.1rem;
                font-weight: bold;
                font-family: 'Ubuntu', sans-serif;
                margin-bottom: 10px;
                text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 10px var(--blue-jewel);
            }
            .contentForm{
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;

                textarea:focus, input:focus{
                    box-shadow: inset 0 0 15px var(--blue-jewel);
                }
                .input{
                    border-color: var(--blue-jewel);
                    border-radius: 5px;
                    height: 2.5rem;
                    text-decoration: none;
                    padding: 0.8rem;
                    background-color: var(--black-void);
                    color: var(--white-50);
                }
                .input, textarea {
                    border-radius: 5px;
                    padding: 1rem;
                    background-color: var(--black-void);
                    border-color: var(--blue-jewel);
                    color: var(--white-50);

                    &::-webkit-input-placeholder{
                        color: var(--white-50);
                        font-weight: bold;
                    }  
                }
                .button{
                    display: flex;
                    align-items: center;
                    padding: 1rem 2rem;
                    border-radius: 0.7rem;
                    border: 3px solid transparent;
                    font-size: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all 0.2s;
                    background-color: var(--black-void);
                    color: var(--white-50);
                
                    
                    text-shadow: 0 0 8px rgba(255, 255, 255, 0.1), 0 0 29px var(--blue-jewel);
                    box-shadow: inset 0 0 20px var(--blue-jewel);
                    position: relative;
                    border: 3px solid var(--blue-jewel);

                        &::before{
                            pointer-events: none;
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 2rem;
                            top: 100%;
                            background-color: var(--blue-jewel);
                            left: 0;

                            transform: perspective(64px) rotateX(40deg) scale(1, 0.35);

                            filter: blur(20px);
                            opacity: 0.9;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom:0;
                            background-color: var(--blue-jewel);
                            box-shadow: 0 0 128px 5px var(--blue-jewel);
                            z-index: -1;
                            opacity: 1;
                        }

                        &:hover{
                            text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px var(--blue-jewel);
                            box-shadow: inset 0 0 32px var(--blue-jewel);
                            position: relative;
                            border: 3px solid var(--blue-jewel);
                        }
                }
            }
        }
    }
}
@media(max-width: 943px){
    .container{
        margin-top: 70rem;
    }
}