@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.headerContainer{
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid var(--blue-500);
    background-color: transparent;
    backdrop-filter: blur(50px);
    z-index: 50;
    -webkit-backdrop-filter: blur(5px);
    left: 0;
    top: 0;
    position: fixed;
}

.headerContent{
    max-width: 1120px;
    height: 6rem;
    margin:  auto;
    padding: 0 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttonImg{
       border: none;
       background-color: transparent;

            width: 10rem;
            height: 3.2rem;
            position: relative;
            display: flex;
            justify-content: center;
                
            border-radius: 10px;
            overflow: hidden;
            
        
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100px;
                    background: linear-gradient(var(--blue-jewel),var(--white-50));
                    animation: rotate 6s linear infinite;
                    
                }
                &::after{
                    content: '';
                    position: absolute;
                    background: var(--black-void);
                    inset: 2px;
                    border-radius: 6px;
                }
                
                h1 {     
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: var(--white-50);
                    text-align: center;
                    margin-top: 1rem;
                    position: relative;
                    z-index: 10;
                    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 10px var(--blue-jewel);
                } 
    }
    
    

    nav{
        height: 3rem;
        display: flex;
        
            button{
                display: flex;
                margin-left: 2rem;
                align-items: center;
                padding: 1rem 2rem;
                border-radius: 0.7rem;
                border: 3px solid transparent;
                font-size: 1rem;
                font-weight: bold;

                transition: all 0.2s;
                
                &:hover{
                    text-shadow: 0 0 8px rgba(255, 255, 255, 0.1), 0 0 29px var(--blue-jewel);
                    box-shadow: inset 0 0 39px var(--blue-jewel);
                    position: relative;
                    border: 3px solid var(--blue-jewel);

                    &::before{
                        pointer-events: none;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2rem;
                        top: 100%;
                        background-color: var(--blue-jewel);
                        left: 0;
    
                        transform: perspective(64px) rotateX(40deg) scale(1, 0.35);

                        filter: blur(20px);
                        opacity: 0.9;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom:0;
                        background-color: var(--blue-jewel);
                        box-shadow: 0 0 128px 5px var(--blue-jewel);
                        z-index: -1;
                        opacity: 1;
                    }
                   
                }

                &.active{
                    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px var(--blue-jewel);
                    box-shadow: inset 0 0 32px var(--blue-jewel);
                    position: relative;
                    border: 3px solid var(--blue-jewel);
                }
                
                
            }   
    }
}
